<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.webXells.imageResizer"
  version="1.0.0">

  <name>ImageResizer</name>
    
  <description>
    The plugin will resize images natively using phonegap/cordova's plugin architecture
  </description>



    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>  
    
    <!-- android -->
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ImageResizer">
               <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner"/>
           </feature> 
       
      </config-file>

      <source-file src="src/Android/com/webXells/ImageResizer/ImageResizePlugin.java" target-dir="src/com/webXells/ImageResizer/" />
      <js-module src="www/imageresize.js" name="imageresizer">
          <clobbers target="plugins.imageResizer" />
      </js-module>
    </platform>

    <!-- ios -->
    <platform name="ios">

        
    <!-- Cordova >= 2.3 -->
      <config-file target="config.xml" parent="/">
        <feature name="ImageResizer">
          <param name="ios-package" value="ImageResizer"/>
        </feature>
      </config-file>
        
      <source-file src="src/ios/ImageResize.m" />
      <source-file src="src/ios/NSData+Base64.m" />
      <source-file src="src/ios/UIImage+Scale.m" />
      
      <header-file src="src/ios/ImageResize.h" />
      <header-file src="src/ios/NSData+Base64.h" />
      <header-file src="src/ios/UIImage+Scale.h" />
      
      <js-module src="www/imageresize.js" name="imageresizer">
        <clobbers target="plugins.imageResizer" />
    </js-module>

    </platform>
</plugin>
